<template>
    <div>
        <form action="">
            <!--Label: Item, Attributes: item-->
            <div class="form-group ">
                <label for="item" class=" col-form-label">Item</label>
                <div class="">
                    <input type="text" class="form-control" id="item"
                           v-model="item"
                           name="item"
                           :class="{ 'is-invalid' : errors.item }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.item">
                        <strong>{{ errors.item.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Date, Attributes: date-->
            <div class="form-group ">
                <label for="date" class=" col-form-label">Date</label>
                <div class="">
                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" id="date"
                               v-model="date"
                               data-target="#datetimepicker2"
                               name="date"
                               :class="{ 'is-invalid' : errors.date }" autocomplete="off">
                        <!--<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>-->
                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>

                    <div class="invalid-feedback" v-if="errors.date">
                        <strong>{{ errors.date.toString() }}</strong>
                    </div>
                </div>
            </div>

            <!--Label: Pickup Date, Attributes: pickupdate-->
            <div class="form-group">
                <label for="pickupdate" class=" col-form-label">Pickup Date</label>
                <div class="">
                    <div class="input-group date" id="datepickup" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" id="pickupdate"
                               v-model="pickupdate"
                               data-target="#datepickup"
                               name="pickupdate"
                               :class="{ 'is-invalid' : errors.pickupdate }" autocomplete="off">
                        <!--<input type="text" class="form-control datetimepicker-input" data-target="#datepickup"/>-->
                        <div class="input-group-append" data-target="#datepickup" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>

                    <div class="invalid-feedback" v-if="errors.pickupdate">
                        <strong>{{ errors.pickupdate.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Weight, Attributes: weight-->
            <div class="form-group ">
                <label for="weight" class=" col-form-label">Weight</label>
                <div class="">
                    <input type="number" class="form-control" id="weight"
                           v-model="weight"
                           name="weight"
                           :class="{ 'is-invalid' : errors.weight }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.weight">
                        <strong>{{ errors.weight.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Perishable, Attributes: perishable-->
            <div class="form-group ">
                <label for="perishable" class=" col-form-label">Perishable</label>
                <div class="">
                    <select name="perishable" id="perishable" v-model="perishable"
                            :class="{ 'is-invalid' : errors.perishable }">
                        <option value="perishable">Perishable</option>
                        <option value="non-perishable">Non-Perishable</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.perishable">
                        <strong>{{ errors.perishable.toString() }}</strong>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" v-on:click.prevent="saveItem">
                <i :class="{'fa fa-spin fa-spinner':savingitem}"></i>
                Save
            </button>
        </form>
    </div>
</template>

<script>
    import datetimepicker from 'tempusdominus-bootstrap-4'

    export default {
        name: "createitem",
        datetimepicker,
        data() {
            return {
                item: '',
                errors: '',
                date: '',
                weight: '',
                pickupdate: '',
                perishable: '',
                savingitem: false
            }
        },
        methods: {
            saveItem() {
                this.savingitem = true;
                axios.post('/items', this.$data).then(resp => {
                    this.savingitem = false;
                    this.item = '';
                    this.date = '';
                    this.weight = '';
                    this.pickupdate = '';
                    this.perishable = '';
                    $('#exampleModal').modal('hide');
                    Bus.$emit('addedItem', resp.data);
                }).catch(err => {
                    this.savingitem = false;
                    this.errors = err.response.data.errors;
                })
            }
        },
        mounted() {
            $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
                icons: {
                    time: 'fa fa-clock',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-calendar-check-o',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                }
            });
            let Self = this;
            $(function () {
                $('#datetimepicker2').datetimepicker();
                $('#datepickup').datetimepicker();

                $('#datetimepicker2').on('change.datetimepicker', function (e) {
                    Self.date = moment(e.date).format('YYYY-MM-DD h:mm');
                });
                $('#datepickup').on('change.datetimepicker', function (e) {
                    Self.pickupdate = moment(e.date).format('YYYY-MM-DD h:mm');
                });
            });
        }
    }
</script>

<style scoped>

</style>